%section#not_found_description
  %h2 404 Not Found
  .description
    %p
      Not found:
      %code
        #{request.path_info}
    %p Please try searching.

%section#not_found_search
  %h2= t('search')
  .search-field
    %form(action="/archives" method="get")
      %input(type="search" name="query" placeholder="Search" value="#{params[:query]}")

%section
  %h2= t('recent_entries')
  %ul
    - Entry.includes(:category).published.recent(7).each do |post|
      %li= link_to post.title, post.link

%section
  %h2= t('categories')
  %ul#categories
    - sorted_categories.each do |category|
      %li= link_to category[:title],
        "/category/#{category[:slug]}/",
          title: "#{category[:title]} (#{category[:count]})"
