.article.section
  .header
    %h2.title= link_to post.title, post.link
  .body
    ~ markdown(post.body)
  .footer
    = post.tags_to_html
    .comment== #{link_to "#{rt.comments} (#{post.comments.size})", "#{post.link}#comment_form"}
    - if post.category
      .created_at== #{rl post.created_at.to_time} | #{link_to post.category.title, "/category/#{post.category.slug}/"}
    - else
      .created_at== #{rl post.created_at.to_time}
    - if logged_in?
      .edit= link_to rt.edit, post.edit_link
