%section
  %h2= t('listing_categories')
  %p カテゴリーごとの最新記事を表示しています。各カテゴリーは最近記事が更新された順に並んでいます。

- entry_lengths = Entry.unscoped.published.group(:category_id).count
- @entries_group_by_category.each do |category, entries|
  %article.category{ itemprop: 'blogPosts', itemscope: true, itemtype: 'https://schema.org/BlogPosting', class: category.slug }
    %header
      %h2{ class: category.slug }
        = link_to category.title, category.link
      .description= category.description
      %ul.meta
        %li.last_updated_at== 最終更新 #{l entries.map(&:created_at).max, format: '%Y年%m月%d日 (%a)'}
        %li== 記事数 #{entry_lengths[category.id]}
    %section
      - post = entries.delete_if {|item| entries.index(0) == item }.first
      .new-entry
        = partial :_main_entry, locals: { post: post }
      .past-entries
        - entries.each_with_index do |post, index|
          - next if index == 0
          = partial :_other_entries, locals: { post: post }
    %footer
      - title = %Q(<q><span class="#{category.slug}">#{category.title}</span></q>の記事をもっと読む).html_safe
      %p.read-more= link_to title, category.link
