= partial :article, :locals => {:post => @entry}
%ul.comments
  - @entry.comments.reverse.each do |comment|
    %li.comment{:id => "comment-#{comment.id}"}
      .body= hbr comment.body
      .footer
        .name= link_to comment.name, comment.homepage, :unless => comment.homepage.blank?
        .created_at= l comment.created_at, :format => :long
= comment_form
