.article.section
  .header
    %h2.title= link_to @entry.title, @entry.link
  .body
    ~ markdown associate_link @entry.body
  .footer
    = @entry.tags_to_html
    .comment== #{link_to "#{t('comments')} (#{@entry.comments.size})", "#{@entry.link}#comment_form"}
    - if @entry.category
      .created_at== #{l @entry.created_at, :format => :long} | #{link_to @entry.category.title, "/category/#{@entry.category.slug}/"}
    - else
      .created_at== #{l @entry.created_at, :format => :long}
    - if logged_in?
      .edit= link_to t('edit'), @entry.edit_link

  .article-bottom
    :javascript
      google_ad_client = "ca-pub-7665673588234323";
      /* 個別記事下 */
      google_ad_slot = "2322018454";
      google_ad_width = 728;
      google_ad_height = 90;
    %script(type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
/ = partial :article, :locals => {:post => @entry}
%ul.comments
  - @entry.comments.reverse.each do |comment|
    %li.comment{:id => "comment-#{comment.id}"}
      .body= hbr comment.body
      .footer
        .name= link_to comment.name, comment.homepage, :unless => comment.homepage.blank?
        .created_at= l comment.created_at, :format => :long
= comment_form
