%article{ itemprop: 'blogPosts', itemscope: true, itemtype: 'https://schema.org/BlogPosting' }
  %header
    - if @entry.type == 'Post'
      %nav.prevnext
        .prev
          - if @entry.next
            = link_to @entry.next.title, @entry.next.link, rel: :prev, title: @entry.next.title
        .next
          - if @entry.prev
            = link_to @entry.prev.title, @entry.prev.link, rel: :next, title: @entry.prev.title
    %h2.title{ itemprop: 'name' }= link_to @entry.title, @entry.link, itemprop: 'url'
    %section.meta
      %time{ datetime: @entry.created_at }= l(@entry.created_at, format: :long)
      - if @entry.category
        == | @#{link_to @entry.category.title, "/category/#{@entry.category.slug}/", itemprop: 'articleSection'}
    %aside{ style: 'display: none'}
      %meta{ content: @entry.link, itemprop: 'mainEntityOfPage', itemscope: true, itemtype: 'https://schema.org/WebPage' }
      %time{ datetime: @entry.created_at, itemprop: 'datePublished' }= @entry.created_at
      %time{ datetime: @entry.updated_at, itemprop: 'dateModified' }= @entry.updated_at
      %span{ itemprop: 'headline' }= truncate(strip_tags(@entry.body).strip.gsub(/[\t]+/, ' ').gsub(/[\r\n]/, ''), length: 100)
      %span{ itemprop: 'author' }= @entry.user.name
      %div{ itemprop: :publisher, itemscope: true, itemtype: 'https://schema.org/Organization' }
        %div{ itemprop: 'logo', itemscope: true, itemtype: 'https://schema.org/ImageObject' }
          %meta{ content: 'https://portalshit.net/theme/portalshit/ogp_image.png', itemprop: :url }
          %meta{ content: '350', itemprop: :width }
          %meta{ content: '255', itemprop: :height }
        %meta{ content: @entry.user.name, itemprop: :name }
      %div{ itemprop: :image, itemscope: true, itemtype: 'https://schema.org/ImageObject' }
        - if @entry.images.present?
          %meta{ itemprop: :url, content: "https://portalshit.net/imageproxy/350x/#{@entry.images.first}" }
        - else
          %meta{ itemprop: :url, content: 'https://portalshit.net/imageproxy/350x/https://portalshit.net/theme/portalshit/ogp_image.png' }
        %meta{ itemprop: :width, content: 350 }
        %meta{ itemprop: :height, content: 255 }

  .body{ itemprop: 'articleBody' }
    = @entry.body_with_toc

  %footer.footer
    = @entry.tags_to_html
    .comment== #{link_to "#{t('comments')} (#{@entry.comments.size})", "#{@entry.link}#comment_form"}
    .created_at== #{l @entry.created_at, format: :long}
    - if logged_in?
      .edit= link_to t('edit'), @entry.edit_link

%aside
  = partial :related

  %section.comments
    %h3= t('comments')
    %ul.comment-list
      - @entry.comments.approved.reverse.each do |comment|
        %li.comment{id: "comment-#{comment.id}"}
          %ul.meta
            %li.gravatar= image_tag gravatar_image_url comment.email
            %li.name= link_to comment.name, comment.homepage, unless: comment.homepage.blank?
          .body~ Markup.use_engine('redcarpet', strip_tags(comment.body)).html_safe
          .created_at= l comment.created_at, format: :long
    - unless %(it-is-meaningless-for-japanese-to-use-us-layout-keyboard-in-japan useful-vimrc-information).include?(@entry.slug)
      = partial :comment
