%section#site_description
  %h2= t('about')
  = @site.description.html_safe

%article#recent_entries
  %h2= t('recent_entries')
  %section.recent
    - post = @posts.first
    .new-entry
      .entry
        %h3.title{ itemprop: 'name' }
          = link_to post.title, post.link, itemprop: 'url'
        .meta
          %time{ datetime: post.created_at.to_s(:db) }= l(post.created_at.to_date, format: '%Y年%m月%d日 (%a)')
        %aside{ style: 'display: none'}
          %meta{ content: post.link, itemprop: 'mainEntityOfPage', itemscope: true, itemtype: 'https://schema.org/WebPage' }
          %time{ datetime: post.created_at.to_s(:db), itemprop: 'datePublished' }= post.created_at
          %time{ datetime: post.updated_at.to_s(:db), itemprop: 'dateModified' }= post.updated_at
          %span{ itemprop: 'headline' }= post.long_description
          %div{ itemprop: :publisher, itemscope: true, itemtype: 'https://schema.org/Person' }
            %div{ itemprop: 'logo', itemscope: true, itemtype: 'https://schema.org/ImageObject' }
              %meta{ content: 'https://2.gravatar.com/avatar/aca7b71389633fab164383ed343f080f%3F', itemprop: :url }
              %meta{ content: '128', itemprop: :width }
              %meta{ content: '128', itemprop: :height }
            %meta{ content: 'morygonzalez', itemprop: :name }
          %div{ itemprop: :image, itemscope: true, itemtype: 'https://schema.org/ImageObject' }
            %meta{ itemprop: :url, content: "https://portalshit.net/imageproxy/350x/#{post.cover_image}" }
            %meta{ itemprop: :width, content: 350 }
            %meta{ itemprop: :height, content: 255 }
        .content
          .image
            - if post.images.present?
              = link_to image_tag("https://portalshit.net/imageproxy/600x337/#{post.cover_image}"), post.link
            - else
              = link_to image_tag("https://portalshit.net/imageproxy/330/#{post.cover_image}", class: 'default'), post.link
          .body{ itemprop: 'articleBody' }
            = post.long_description(260)
            .footer
              = post.tags_to_html
              .comment== #{link_to "#{t('comments')} (#{post.comments.size})", "#{post.link}#comment_form"}
    .past-entries
      - @posts.each_with_index do |post, index|
        - next if index == 0
        .entry
          %h3.title{ itemprop: 'name' }
            = link_to post.title, post.link, itemprop: 'url'
          .meta
            %time{ datetime: post.created_at.to_s(:db) }= l(post.created_at.to_date, format: '%Y年%m月%d日 (%a)')
          %aside{ style: 'display: none'}
            %meta{ content: post.link, itemprop: 'mainEntityOfPage', itemscope: true, itemtype: 'https://schema.org/WebPage' }
            %time{ datetime: post.created_at.to_s(:db), itemprop: 'datePublished' }= post.created_at
            %time{ datetime: post.updated_at.to_s(:db), itemprop: 'dateModified' }= post.updated_at
            %span{ itemprop: 'headline' }= post.long_description
            %div{ itemprop: :publisher, itemscope: true, itemtype: 'https://schema.org/Person' }
              %div{ itemprop: 'logo', itemscope: true, itemtype: 'https://schema.org/ImageObject' }
                %meta{ content: 'https://2.gravatar.com/avatar/aca7b71389633fab164383ed343f080f%3F', itemprop: :url }
                %meta{ content: '128', itemprop: :width }
                %meta{ content: '128', itemprop: :height }
              %meta{ content: 'morygonzalez', itemprop: :name }
            %div{ itemprop: :image, itemscope: true, itemtype: 'https://schema.org/ImageObject' }
              %meta{ itemprop: :url, content: "https://portalshit.net/imageproxy/350x/#{post.cover_image}" }
              %meta{ itemprop: :width, content: 350 }
              %meta{ itemprop: :height, content: 255 }
          .content
            .image
              - if post.images.present?
                = link_to image_tag("https://portalshit.net/imageproxy/400x225/#{post.cover_image}", class: 'desktop'), post.link
                = link_to image_tag("https://portalshit.net/imageproxy/225x225/#{post.cover_image}", class: 'mobile'), post.link
              - else
                = link_to image_tag("https://portalshit.net/imageproxy/225/#{post.cover_image}", class: 'default'), post.link

            .body{ itemprop: 'articleBody' }
              = post.long_description
          .footer
            = post.tags_to_html
            .comment== #{link_to "#{t('comments')} (#{post.comments.size})", "#{post.link}#comment_form"}

%section#popular_entries
  %h2 人気記事
  %section
    - cache_fragment :"index-#{I18n.locale}", shared: true, expires_in: 1.day do
      %section.frequently-read-articles
        %h3 最近よく読まれている記事
        %ul
          - Entry.includes(:category).popular(limit: 6).each do |post|
            %li
              .title
                %h4.link= link_to post.title, post.link
                %span.created_at= l(post.created_at.to_date, format: :long)
              .description
                .image= link_to image_tag("https://portalshit.net/imageproxy/200x200/#{post.cover_image}"), post.link
                .text= post.long_description
      %section.hotentry
        %h3 はてなブックマークで注目を集めた記事
        %ul
          - Entry.includes(:category).hotentry(limit: 6).each do |post|
            %li
              .title
                %h4.link= link_to post.title, post.link
                %span.created_at= l(post.created_at.to_date, format: :long)
              .bookmark_count
                = link_to "#{post.bookmark_count} users", post.bookmark_url
              .description
                .image= link_to image_tag("https://portalshit.net/imageproxy/200x200/#{post.cover_image}"), post.link
                .text= post.long_description

%section.more-articles
  %h2 以前の記事
  %section.more
    %section.category-list
      %h3= link_to t('listing_categories'), '/categories'
      %p カテゴリーごとの最新記事 4 件ずつを見ることができます。

    %section.entry-list
      %h3= link_to t('archives.title'), '/archives'
      %p すべての過去記事一覧を見ることができます。年、カテゴリー別の絞り込み UI 付き。
