%section#site_description
  %h2= t('about')
  .description= @site.description.html_safe

%article#recent_entries
  %h2= t('recent_entries')
  %section.recent
    - if post = @posts.first
      -# .new-entry
      -#   = partial :_main_entry, locals: { post: post }
      -# .past-entries
      -#   - @posts.each_with_index do |post, index|
      -#     - next if index == 0
      -#     = partial :_other_entries, locals: { post: post }

%section#popular_entries
  %h2 人気記事
  %section
    - cache_fragment :"index-recent-#{I18n.locale}", expires_in: 1.hour do
      %section.frequently-read-articles
        %h3
          = link_to '最近よく読まれている記事', '/popular/recent'
        %ul
          - Entry.includes(:category).popular(limit: 6).each do |post|
            %li.item{ title: post.title, link: post.link, type: 'frequency' }
              .title
                %h4.link= link_to post.title, post.link
                %span.created_at= l(post.created_at.to_date, format: :long)
              .description
                .image= link_to image_tag("https://portalshit.net/imageproxy/200x200/#{post.cover_image}"), post.link
                .body= post.long_description

    - cache_fragment :"index-hatena-#{I18n.locale}", expires_in: 1.day do
      %section.hotentry
        %h3
          = link_to 'はてなブックマークで注目を集めた記事', '/popular/hatena-bookmark'
        %ul
          - Entry.includes(:category).hotentry(limit: 6).each do |post|
            %li.item{ title: post.title, link: post.link, type: 'hotentry' }
              .title
                %h4.link= link_to post.title, post.link
                %span.created_at= l(post.created_at.to_date, format: :long)
              .bookmark_count
                = link_to "#{post.bookmark_count} users", post.bookmark_url
              .description
                .image= link_to image_tag("https://portalshit.net/imageproxy/200x200/#{post.cover_image}"), post.link
                .body= post.long_description

