!!! XML
!!!
%html{ itemscope: true, itemtype: 'https://schema.org/Blog', lang: :ja }
  %head
    %meta{ 'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8' }
    %meta{ 'http-equiv': 'Content-Style-Type', content: 'text/css' }
    %meta{ 'http-equiv': 'Content-Script-Type', content: 'text/javascript' }
    - if entry?
      %title== #{@entry.title} - #{@site.title}
    - else
      %title= @site.title
    %meta{ name: 'viewport', content: 'width=device-width' }
    %meta{ name: 'description', content: "#{ogp['og:description']}" }
    %meta{ name: 'keywords', content: @site.meta_keywords }
    %link{ rel: 'shortcut icon', href: url("#{@theme.path}/favicon.ico"), type: 'image/ico' }
    %link{ title: "#{@site.title}", rel: "alternate", href: "/index.atom", type: 'application/atom+xml' }
    %link{ rel: 'canonical', href: canonical_url }
    %link{ rel: 'stylesheet', href: asset_path(@theme.path, 'style.css'), type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', type: 'text/css' }
    %script{ async: true, src: 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7665673588234323",
        enable_page_level_ads: true
      });
    = header
  %body
    #header
      #header-inner
        %h1= link_to @site.title, '/'
        %nav
          %ul
            %li.profile
              = image_tag '//1.gravatar.com/avatar/aca7b71389633fab164383ed343f080f?size=128', width: 24
              = link_to 'Profile', '/author'
            %li.github
              %i.fa.fa-github-square
              = link_to 'GitHub', 'http://github.com/morygonzalez'
            %li.twitter
              %i.fa.fa-twitter-square
              = link_to 'Twitter', 'http://twitter.com/morygonzalez'
            %li.archives
              %i.fa.fa-list
              = link_to 'Archives', '/archives'
            %li.search
              %form#search_form(action="/search/" method="get")
                %input(type="text" name="query" placeholder="Search" value="#{params[:query]}")
        - unless index?
          #bread_crumb= bread_crumb

    #content
      #main= yield

    #footer
      #aside
        - cache_fragment :"footer-#{I18n.locale}", shared: true do
          %dl.popular_entries
            %dt= t('popular_entries')
            %dd
              %ul
                - Post.popular.each do |post|
                  %li
                    = link_to post.title, post.link
                    %span.created_at= l(post.created_at.to_date, format: :long)
          %dl.hotentry
            %dt= t('hotentry')
            %dd
              %ul
                - Post.hotentry.each do |post|
                  %li
                    =link_to post.title, post.link
                    %span.bookmark_count= link_to "#{post.bookmark_count} users", post.bookmark_url
                    %span.created_at= l(post.created_at.to_date, format: :long)
          %dl.recent_entries
            %dt= t('recent_entries')
            %dd
              %ul
                - Post.recent.each do |post|
                  %li
                    = link_to post.title, post.link
                    %span.created_at= l(post.created_at.to_date, format: :long)
          %dl.recent_comments
            %dt= t('recent_comments')
            %dd
              %ul
                - Comment.recent.each do |comment|
                  %li
                    = link_to "#{comment.entry.title} from #{comment.name}", comment.link
                    %span.created_at= l(comment.created_at.to_date, format: :long)
      .poweredby
        powered by
        = link_to 'Lokka', 'http://lokka.org/'
    = footer
    %script{ type: 'text/javascript', src: asset_path(@theme.path, 'script.js') }
