- if @entry.is_a?(Post) && referrers.present?
  - cache_fragment :"referres-#{I18n.locale}" do
    .referrers
      %h3 この記事を参照している記事
      %ul
        - referrers.each do |referrer|
          %li
            .title
              %span.link= link_to referrer.title, referrer.link
              %span.created_at= l(referrer.created_at.to_date, format: :long)
            .description
              .image= image_tag "https://portalshit.net/imageproxy/200x200,sc/#{referrer.cover_image}"
              .text= referrer.long_description
- if @entry.is_a?(Post) && @entry.similar_entries.present?
  - cache_fragment :"similar-#{I18n.locale}" do
    .similar
      %h3 この記事に似ている記事
      %ul
        - @entry.similarities.all(order: [:score.desc], limit: 6).each do |similarity|
          - similar = similarity.similar_entry
          %li
            .title
              %span.link= link_to similar.title, similar.link
              %span.created_at= l(similar.created_at.to_date, format: :long)
            .description
              .image= image_tag "https://portalshit.net/imageproxy/200x200,sc/#{similar.cover_image}"
              .text= similar.long_description
