%ul.year-list
  - year_list.each do |year|
    %li= link_to year.to_s, "/archives/#{year}"

#categories-wrapper

.archive-by-month
  %h2= t('archives.title')
  %ul
    - @month_posts.each do |datetime, posts|
      %li.year-month
        %h3= l datetime.to_date, format: :year_month
        %ul
          - posts.each do |post|
            %li
              = link_to post.title, post.link
              %div.detail-information
                %span.created_at
                  = l post.created_at, :format => :long
                %span.category
                  = link_to post.category.title, "/category/#{post.category.slug}/" if post.category
