%ul
  - @month_posts.each do |month, posts|
    %li
      == #{month.year}-#{month.month}
      %ul
        - posts.each do |post|
          %li
            = link_to post.title, post.link
            = l post.created_at, :format => :long
            = link_to post.category.title, "/category/#{post.category.slug}/" if post.category
