%h2= t('ng_words.title')
%p= t('ng_words.banner')
%form{ action: url('/admin/plugins/ng_words'), method: :post }
  %input{ type: :hidden, name: :_method, value: 'put' }
  .field
    %label{ for: :ng_words_key }= t('ng_words.ng_words')
    %br
    - @ng_words.each_with_index do |word, index|
      %input{ type: :text, name: "ng_words[ng_words_#{index}]", value: word }
    %input{ type: :text, name: "ng_words[ng_words_#{@ng_words.length}]", placeholder: I18n.t('new') }
  %br
  .field
    %p
    %input{ type: :submit, value: t('save') }
